<div class="container">
    <h1 class="text-center"> Your Inventories </h1>
    <div class="d-flex justify-content-between">
        <p class="fs-1">Inventories by <%=current_user.name.capitalize%></p>
      <%= render 'modal' %>
    </div>
    <%= render 'inventory' %>
</div>