<div class="container mt-3">
  <h1 class="text-center mb-3">Your Inventories</h1>
  <% if current_user %>
    <div class="row align-self-end">
      <%= link_to "New Inventory", new_inventory_path, class: "btn btn-primary" %>
    </div>
    <% if @inventories.empty? %>
      <div>
        <h3 class="text-center">No inventory yet.</h3>
      </div>
    <% else %>
      <% @inventories.each do |inventory| %>
        <div class="d-flex justify-content-center align-items-baseline gap-5 bg-light border w-75 m-auto p-3">
          <div class="d-flex flex-column align-items-center flex-grow-1">
            <h3 class="text-center"><%= link_to inventory.name, inventory_path(id: inventory.id), class: "text-dark" %></h3>
            <%= link_to "REMOVE", inventory_path(id: inventory.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </div>
          <div class="flex-grow-1" style="max-height: 200px; overflow: auto">
            <p><%= inventory.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>