<div class="container mt-3 d-flex flex-column align-items-center">
  <% if @inventory.user == current_user %>
  <h1><%= @inventory.name %></h1>

  <div class="d-flex justify-content-between w-50 flex-wrap">
    <%= link_to "Add Food", new_food_path, class: "btn btn-primary m-1" if @inventory.user == current_user %>
  </div>

  <% else %>
    <h1>You are not authorized to see this inventory.</h1>
  <% end %>
  <div>
    <h3><%= link_to "Back to inventories", inventories_path %></h3>
  </div>