<div class="container mt-3 d-flex flex-column align-items-center">
  <% if @inventory.user == current_user %>
  <h1><%= @inventory.name %></h1>

  <div class="row align-self-end">
    <%= link_to "Add Food", new_inventory_inventory_food(@inventory.id), class: "btn btn-primary m-1" if @inventory.user == current_user %>
  </div>

  <% else %>
    <h1>You are not authorized to see this inventory.</h1>
  <% end %>
  <div>
    <h3><%= link_to "Back to inventories", inventories_path %></h3>
  </div>