<h1>Foods#index</h1>
<p>Find me in app/views/foods/index.html.erb</p>
<%if @foods.present? %>
<ul>
  <li>
    <span>Name</span>
    <span> Measurement Unit </span>
    <span> Price </span>
  </li>
  <% @foods.each do | food | %>
    <li>
      <span><%= food.name %></span>
      <span><%= food.measurement_unit %></span>
      <span><%= food.price %></span>
    </li>
    <% end %>
</ul>
<% else %>
  <p> There are no registered foods, yet.
<% end %>
